.app {
	:global {
		.adm-list-item-content-prefix {
			width: 3em;
		}
		.adm-tabs-content {
			height: calc(100% - 91px);
			overflow: auto;
		}
	}
	height: 100%;
	.tab-content {
		height: calc(100% - 50px);
		overflow: auto;
	}
	.tab-bar {
		height: 50px;
	}
}
